@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TiltWrap';
    src: url('/fonts/TiltWarp-Regular.ttf')
}

:root {
    font-family: 'TiltWrap', sans-serif;
    background-color: #0D8C5D;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

#app {
    height: 100%;
}