@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TiltWrap';
    src: url('/fonts/TiltWarp-Regular.ttf')
}

:root {
    font-family: 'TiltWrap', sans-serif;
    background-color: #b6e8f2;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}



#app {
    height: 100%;
}

.v-lazy-image {
    filter: blur(8px);
    transition: filter 0.5s;
}

.v-lazy-image-loaded {
    filter: blur(0);
}

.bg-gradient {
    background-color: #1B8C4D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2386c568'/%3E%3Cstop offset='1' stop-color='%2386c568' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23559da4'/%3E%3Cstop offset='1' stop-color='%23559da4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b8d4c6'/%3E%3Cstop offset='1' stop-color='%23b8d4c6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B8C4D'/%3E%3Cstop offset='1' stop-color='%231B8C4D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DFFF85'/%3E%3Cstop offset='1' stop-color='%23DFFF85' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2372ACFF'/%3E%3Cstop offset='1' stop-color='%2372ACFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transform: rotate(0.001deg);
}

.fade-up {
    animation: fadeUp ease 0.5s;
}

.fade-left {
    animation: fadeLeft ease 0.4s;
}

.fade-right {
    animation: fadeRight ease 0.4s;
}

.fade-down {
    animation: fade-down ease 0.4s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}